name: CI
'on':
  push:
    branches:
      - main
jobs:
  build-mkdocs:
    name: Build Markdown
    runs-on: windows-latest
    #env:
     # working-directory: /home/attaullah.s@PROD.HCLPNP.COM/Downloads/oxygen-publishing-ending-3.x/bin/
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install MkDocs
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs
      - name: Install MkDocs plugins
        run: |
          if (Test-Path "requirements.txt") {
            pip install -r requirements.txt
          }   
      - name: Build Markdown
        run:
            mkdocs build
      #  working-directory: ${{env.working-directory}}
        
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          artifact_name: site

         
